.article--transform, .article--stand{

    &__image{
        width: 100%;
        display: block;
    }

    &__content{
        padding: 2.5rem 1.5rem;
        text-align: center;

        &-title{
            font-family: "fraunces", sans-serif;
            font-weight: 900;
            font-size: 1.7rem;
            margin-bottom: 1.2rem;
        }

        &-text{
            line-height: 1.5rem;
            color: hsl(213, 9%, 39%);
            font-weight: 500;
        }

        &-button{
            background: none;
            border: none;
            font-family: "fraunces", sans-serif;
            font-weight: 900;
            text-transform: uppercase;
            letter-spacing: 1px;
            margin-top: 1.5rem;
        }
    }
}

.article--graphic, .article--photography{
    position: relative;

    &__image{
        display: block;
        width: 100%;
    }

    &__content{
        position: absolute;
        bottom: 0;
        padding: 0 1.5rem 3rem;
        text-align: center;

        &-text{
            padding-top: 1.5rem;
            font-weight: 600;
            font-size: 0.85rem;
            line-height: 1.5rem;
        }

        &-title{
            font-family: "fraunces", sans-serif;
            font-weight: 900;
            font-size: 1.5rem;
            margin-bottom: 1.2rem;
        }
    }
}