.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    &__wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        padding: 2rem 1.5rem;
        width: 100%;

        @media screen and (min-width:768px){
            padding: 2rem;
        }
    }

    &__nav{
        display: none;

        @media screen and (min-width:768px){
            display: block;
        }

        &--active{
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 100%;
            left: 0;
            padding: 0 1.5rem;
            width: 100%;
        }

        &-wrapper{
            display: flex;
            flex-direction: column;
            width: 100%;
            background: white;
            padding: 2rem;
            gap: 2rem;
            align-items: center;
            position: relative;
            z-index: 50;

            @media screen and (min-width:768px){
                flex-direction: row;
                gap: 3rem;
                background: none;
                padding: 0;
            }

            &::before{
                content: "";
                height: 20px;
                width: 20px;
                display: block;
                position: absolute;
                top: -20px;
                right: 0;
                background: linear-gradient(135deg, #ffffff00 50%, #ffffff 50%);

                @media screen and (min-width:768px){
                    display: none;
                }
            }
        }

        &-link{
            width: fit-content;
            text-decoration: none;
            color: hsl(232, 10%, 55%);
            font-weight: 600;

            @media screen and (min-width:768px){
                color: white;
                font-weight: 400;
            }

            &--contact{
                padding: 1rem 1.5rem;
                text-decoration: none;
                font-family: "fraunces", sans-serif;
                font-weight: 700;
                font-size: 0.8rem;
                color: hsl(212, 27%, 19%);
                background: hsl(51, 100%, 49%);
                border-radius: 9999px;

                @media screen and (min-width:768px){
                    background: white;
                }

                &:hover{
                    
                    @media screen and (min-width:768px){
                        color: white;
                        background-color: rgba(255, 255, 255, 0.295);
                    }
                }
            }
        }
    }

    &__button{
        background: none;
        border: none;
        padding: 0;

        @media screen and (min-width:768px){
            display: none;
        }

        &-image{

            &--active{
                opacity: 0.6;
            }
        }
    }
}