.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    &__wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        padding: 2rem 1.5rem;
        width: 100%;
    }

    &__nav{
        display: none;

        &--active{
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 100%;
            left: 0;
            padding: 0 1.5rem;
            width: 100%;
        }

        &-wrapper{
            display: flex;
            flex-direction: column;
            width: 100%;
            background: white;
            padding: 2rem;
            gap: 2rem;
            align-items: center;
            position: relative;

            &::before{
                content: "";
                height: 20px;
                width: 20px;
                display: block;
                position: absolute;
                top: -20px;
                right: 0;
                background: linear-gradient(135deg, #ffffff00 50%, #ffffff 50%);
            }
        }

        &-link{
            width: fit-content;
            text-decoration: none;
            color: hsl(232, 10%, 55%);
            font-weight: 600;

            &--contact{
                padding: 1rem 1.8rem;
                text-decoration: none;
                font-family: "fraunces", sans-serif;
                font-weight: 700;
                font-size: 0.8rem;
                color: black;
                background: hsl(51, 100%, 49%);
                border-radius: 9999px;
            }
        }
    }

    &__button{
        background: none;
        border: none;
        padding: 0;

        &-image{

            &--active{
                opacity: 0.6;
            }
        }
    }
}