.footer{
    background: #90D4C5;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    padding: 3rem 1.5rem;

    &__logo{
        width: 150px;
    }

    &__nav{
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 1rem 0 2rem;

        &-link{
            color: #2E7565;
            text-decoration: none;
            font-weight: 600;
            font-size: 0.9rem;
        }
    }
    
    &__social{
        display: flex;
        gap: 1.5rem;

        img{
            width: 18px;
        }
    }
}